article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


* {
  margin: auto 0;
  background-color: #2A3F57
}

.Content {
  max-width: 1200px;
  margin: 0 auto;
}

p, h1 {
  color: #FEFBF4;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 10px;
}

.heading {
  text-align: center;
  padding-top: 40px;
  font-family: 'Quicksand', sans-serif;
}

.info {
  padding-left: 40px;
  text-align: center;
}

.info-tab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 400px;
  padding: 50px;
}

.aqua-heading {
  position: relative;
  bottom: 20px;
}

.tri {
  grid-column: 1 / span 1;
}

.du {
  grid-column: 2 / span 1;
}

.aqua {
  grid-column: 3 / span 1;
}

.kids {
  position: relative;
  top: 15px;
  grid-column: 4 / span 1;
}

.hero { 
    background-image: url('./images/bike-race-hero.jpeg');
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image {
    background-image: url('./images/swim-race.jpeg');
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.runner { 
    background-image: url('./images/runner.jpg');
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.distance {
  text-align: center;
}

.description-distance {
  list-style: none;
  font-family: 'Nanum Gothic', sans-serif;
  padding: 10px 30px;
  color: #FEFBF4;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: center;
}

.text-highlight {
  font-size: 16px;
}
.nav-icons {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 10px 50px;
  color: #FEFBF4;
}

.nav-icons:hover {
  color: pink;
}

.pricing, .location {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.early, .where {
  grid-column: 1 / span 1;
}

.packet {
  grid-column: 2 / span 1;
}

.late{
  grid-column: 2 / span 1;
  position: relative;
  top: 16px;
}

a {
  color: #FEFBF4; 
}

a:hover {
  color: pink;
}

.course-title {
  text-align: center;
}

h3 {
  padding: 10px;
  color: #FEFBF4;
  font-family: 'Nanum Gothic', sans-serif;
}

.swim {
  padding: 40px;
  height: 400px;

}

.swim-title, .swim-para {
  text-align: center;
}

.swim-para {
  width: 800px;
  margin: 0 auto;
}

#direction-info {
  display: grid;
  grid-template-columns: 400px 400px;
}

.east {
  grid-column: 1 / span 1;
}

.south {
  grid-column: 2 / span 1;
  position: relative;
  bottom: 8px;
  left: 30px;
}
.directions {
  padding-top: 40px;
}

a {
  text-decoration: none;
}

.course-page {
  border: 1px solid #fff;
  width: 600px;
  margin: auto;
}

.top {
  padding-top: 50px;
}

.sponser {
  margin: 50px;
  height: 200px;
  background-color: #ffffff
}

.space {
  width: 1600px;
  background-color: #ffffff;
}
.sponsering {
  min-width: 1167px;
  display: flex;
  background-color: #ffffff;
  overflow: auto;
  height: 300px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.travel-north-details {
  padding-bottom: 50px;
}

{
  text-align: center;
  margin: 20px;
}

@keyframes animatedBackground {
  from {
    left: 0px;
  }
  90% {
    left: -2562px;
  }
  100%{left: 0px;}
}
.sponser-section {
  background-color: #ffffff;
  height: 300px;
  width: 1500px;
  overflow-x: auto;
  overflow-y: hidden;
}

.space {
  width: 1126px;
  position: relative;
  animation: animatedBackground 20s linear infinite;
}
img{
  /*border-right:1px solid black;*/
  box-sizing:border-box;
}