article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


* {
  margin: auto 0;
}

body {
  background-color: #2A3F57;
}

.Content {
  background-color: #2A3F57;
  max-width: 1200px;
  margin: 0 auto;
}

p, h1 {
  color: #FEFBF4;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 10px;
}

.heading {
  text-align: center;
  padding-top: 40px;
  font-family: 'Quicksand', sans-serif;
}

.info {
  padding-left: 40px;
  text-align: center;
}

.info-tab {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 400px;
  padding: 50px;
}

.aqua-heading {
  position: relative;
  bottom: 20px;
}

.tri {
  grid-column: 1 / span 1;
}

.du {
  grid-column: 2 / span 1;
}

.aqua {
  grid-column: 3 / span 1;
}

.kids {
  position: relative;
  top: 15px;
  grid-column: 4 / span 1;
}

.hero { 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/bike-race-hero.jpeg');
  height: 600px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-header {
  font-family: 'Michroma', sans-serif;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

button{
  background:#2A3F57;
  color:#fff;
  border:none;
  width: 600px;
  position:relative;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
button:hover{
  background:#fff;
  color:#1AAB8A;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:5px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}


.btn {
  padding: 10px;
  margin: 0;
  font-size: 18px;
  width: 300px;
}

.btn:hover {
  background: #2A3F57;
}

.course-btn {
  position: relative;
  right: 15px;
  width: 250px;
}

.hero-header:hover {
  color: black;
} 

.image {
    background-image: url('./images/swim-race.jpeg');
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.runner { 
    background-image: url('./images/runner.jpg');
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.distance {
  text-align: center;
}

.description-distance {
  list-style: none;
  font-family: 'Nanum Gothic', sans-serif;
  padding: 10px 30px;
  color: #FEFBF4;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: center;
}

.text-highlight {
  font-size: 16px;
}
.nav-icons {
  font-family: 'Nanum Gothic', sans-serif;
  padding: 10px 50px;
  color: #FEFBF4;
}

.nav-icons:hover {
  color: #ffffff;
}

.pricing, .location {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.early, .where {
  grid-column: 1 / span 1;
}

.packet {
  grid-column: 2 / span 1;
}

.late{
  grid-column: 2 / span 1;
  position: relative;
  top: 16px;
}

a {
  color: #FEFBF4; 
}

.course-title {
  text-align: center;
}

h3 {
  padding: 10px;
  color: #FEFBF4;
  font-family: 'Nanum Gothic', sans-serif;
}

.swim {
  padding: 40px;
  height: 400px;

}

.swim-title, .swim-para {
  text-align: center;
}

.swim-para {
  width: 800px;
  margin: 0 auto;
}

#direction-info {
  display: grid;
  grid-template-columns: 400px 400px;
}

.east {
  grid-column: 1 / span 1;
}

.south {
  grid-column: 2 / span 1;
  position: relative;
  bottom: 8px;
  left: 30px;
}
.directions {
  padding-top: 40px;
}

a {
  text-decoration: none;
}

.course-page {
  border: 1px solid #fff;
  width: 600px;
  margin: auto;
}

.top {
  padding-top: 50px;
}

.sponser {
  margin: 50px;
  height: 200px;
  background-color: #ffffff;
  filter: grayscale(50%);
}

.sponser:hover {
  filter: grayscale(0%);
}

.space {
  width: 1600px;
  background-color: #ffffff;
}
.sponsering {
  min-width: 1167px;
  display: flex;
  background-color: #ffffff;
  overflow: auto;
  height: 300px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.travel-north-details {
  padding-bottom: 50px;
}

{
  text-align: center;
  margin: 20px;
}

@keyframes animatedBackground {
  from {
    left: 0px;
  }
  90% {
    left: -5062px;
  }
}

.sponser-title {
  text-align: center;
  padding: 50px;
}

.sponser-section {
  background-color: #ffffff;
  height: 300px;
  width: 1500px;
  overflow-x: auto;
  overflow-y: hidden;
}

.space {
  width: 1126px;
  position: relative;
  animation: animatedBackground 50s linear infinite;
}
img{
  box-sizing:border-box;
}

@media (max-width: 1128px) {
body {
  overflow-x: hidden;
  width: 100%;
}

.sponsering, .sponser-section, .space {
  min-width: 1128px;
}

.info-tab {
  display: flex;
  padding: 50px;
}

}


@media (max-width: 1029px) {
.sponsering {
  min-width: 1029px;
}
.info {
  font-size: 16px;
}

}

@media (max-width: 914px) {

.sponsering, .sponser-section, .space {
  min-width: 914px;
}
.info-tab {
  padding: 20px;
}

}


@media (max-width: 863px) {

.info-tab {
  padding: 20px;
}
.sponsering, .sponser-section, .space {
  min-width: 863px;
}
}

@media (max-width: 854px) {

.info-tab {
  padding: 10px;
}

.description-distance {
  padding: 10px 20px;
}
.sponsering, .sponser-section, .space {
  min-width: 854px;
}
}


@media (max-width: 827px) {
.south {
  width: 300px;
  word-break: break-word;
}

.sponsering, .sponser-section, .space {
  min-width: 827px;
}
.swim-para {
  width: 600px;
}
}


@media (max-width: 767px) {

.info-tab {
  padding: 10px;
}

.sponsering, .sponser-section, .space {
  min-width: 767px;
}
.description-distance {
  padding: 10px 10px;
}

}

@media (max-width: 723px) {
  html, body {
        max-width: 100%;
        overflow-x: hidden;
}

.info-tab {
  padding: 8px;
}

.sponsering, .sponser-section, .space {
  min-width: 723px;
}

.description-distance {
  padding: 10px 5px;
}

.nav-icons {
  padding: 0;
}

}

@media (max-width: 696px) {
  #direction-info {
    grid-template-columns: 300px 300px;
  }
  .south {
    width: 250px;
  }
  .sponsering, .sponser-section, .space {
  min-width: 696px;
}
}

 
@media (max-width: 673px) {

.info {
  font-size: 14px;
}
.heading {
  font-size: 25px;
}
.info-tab {
  padding: 8px;
}

.description-distance {
  padding: 10px 5px;
}

.nav-icons {
  padding: 0;
}
.sponsering, .sponser-section, .space {
  min-width: 673px;
}

}

@media (max-width: 644px) {

.info-tab {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr
}
.sponsering, .sponser-section, .space {
  width: 644px;
}

.tri {
  text-align: center;
  grid-row: 1 / span 1;
}
.du {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.aqua {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.kids {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.tri, .du, .aqua, .kids {
  position: relative;
  right: 21px;
}

.swim-para {
  width: 500px;
}
}

@media (max-width: 573px) {
  #direction-info {
    grid-template-columns: 200px 200px;
  }
  .sponsering, .sponser-section, .space {
 min-width: 573px;
}

.south {
    width: 110px;
  }
}

@media (max-width: 538px) {
  .hero-header {
    font-size: 30px;
  }
  .sponsering, .sponser-section, .space {
  min-width: 538px;
}
}

@media (max-width: 517px) {
  .swim-para {
    width: 400px
  }

  .course-btn {
    width: 200px;
  }

  .swim {
    padding: 50px;
  }
}


@media (max-width: 490px) {
  .nav-icons {
    font-size: 12px;
  }
  .sponsering, .sponser-section, .space {
  max-width: 490px;
}

.swim {
  position: relative;
  right: 30px;
}
}

@media (max-width: 420px) {

  .nav-icons {
    font-size: 12px;
  }
  .sponsering, .sponser-section, .space {
  max-width: 420px;
}
}


@media (max-width: 414px) {

  .nav-icons {
    font-size: 12px;
  }
  .sponsering, .sponser-section, .space {
  max-width: 414px;
}

@keyframes animatedBackground {
  from {
    left: 0px;
  }
  100% {
    left: 0px;
  }
}
}